gcp-backend/terraform.tfvars

gcp-backend/terraform.tfstate
gcp-gke-infra/terraform.tfstate
gcp-backend/terraform.tfstate.backup
gcp-gke-infra/terraform.tfstate.backup

gcp-gke-infra/terraform.tfvars
